/* teko-regular - latin */
@font-face {
  font-family: 'Teko';
  font-weight: 400;
  src: url('~@/assets/fonts/Teko-Regular.woff2') format('woff2'), url('~@/assets/fonts/Teko-Regular.woff') format('woff');
}

/* teko-300 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/Teko-Light.woff2') format('woff2'), url('~@/assets/fonts/Teko-Light.woff') format('woff');
}

// /* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Ubuntu-Regular.woff2') format('woff2'), url('~@/assets/fonts/Ubuntu-Regular.woff') format('woff');
}